@model Conris.DBA.ViewModel.CKRecordSearch
           <script type="text/javascript" src="/Content/js/jquery.js"></script>
 @using (Html.BeginForm("CKRecordCountManage", "CKRecord", new RouteValueDictionary { { "Page", "" } }, FormMethod.Get, new { @id = "UserSub" }))
 {
    <div class="search_style" >
        <div style=" float:left; height:100%;text-align:center;padding:10px;">
              时间：@Html.TextBoxFor(m => m.Time, new { @style = "height:20px;" })
       
             </div>
        <div>    	<ul class="search_content clearfix">
            
             <li  onclick="Submit()" style="margin-top:10px;"><button type="button" class="btn_search">查询</button></li>
   
           
        </ul>
        </div>

        <div class="welinfo">
            <b>该段时间内的销售额为：@TempData["SumPrice"]元，利润为：@TempData["SumProfit"]元</b>

        </div>
   
        </div>
 }
<script type="text/ecmascript">
    function Submit() {
        $("#UserSub").submit();
    }
</script>