@model List<DBA.Model.Category>


    <table class="tablelist">
    	<thead>
    	<tr>
        <th>序号<i class="sort"><img src="/Content/images/px.gif" /></i></th>
        <th>仓库</th>

            
        <th>操作</th>
        </tr>
        </thead>
        <tbody>
              @if (Model != null && Model.Count > 0)
{
    int i = 0; 
       
            foreach (var item in Model)
        {
            i++;    
        
        <tr>
        <td>@i</td>
        <td>@item.CategoryName</td>
        <td><a href="/Category/CCreate?ID=@item.ID"   >修改</a> 
            <a href="#" onclick="Del(@item.ID)"   >删除</a> 
           
        </td>
        </tr>    
            }
} 
        </tbody>
    </table>
    


    

